{% extends 'base.html' %}

{% block titulo %}

ESTILOS

{% endblock %}

{% block contenido_que_cambia %}

    {% for tipo in varietys %}


<div class="card" style="width: 18rem;">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.lO3K_bxB_1CpUgWO15k7AAHaHa%26pid%3DApi&f=1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{tipo.name}}</h5>
      <p class="card-text">{{tipo.appearance}}.</p>
      <p class="card-text">{{tipo.taste}}.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

   
    {% endfor %}


    {% endblock %}
